@page "/"

<div class="row sales layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-8 col-8">
        <div class="widget">
            <div class="widget-heading">
                <h5>Hi there!</h5>
            </div>

            <div class="widget-content">
                <p class="info-detail">Welcome home!</p>
                <p><i class="fas fa-thermometer-half"></i> 3.2C</p>
                <p><i class="fas fa-cloud"></i> Kinda cloudy</p>

            </div>

        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-4 col-4">
        <div class="widget">
            <div class="widget-heading">

            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-8 col-8 layout-top-spacing">
        <div class="widget widget-chart-one">
            <div class="widget-heading">
                <h5>Home</h5>
                <ul class="tabs tab-pills">
                    <li>
                        <i class="fas fa-thermometer-half"></i> 23.2C
                    </li>
                    <li>
                        <i class="fas fa-tint"></i> 52%H
                    </li>
                    <li>
                        <select>
                            <option value="Living Room">Living Room</option>
                            <option value="Master Bedroom">Master Bedroom</option>
                        </select>
                    </li>
                </ul>
            </div>

            <div class="widget-content">

            </div>
        </div>
    </div>
</div>


