@inherits BlazorLayoutComponent

<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar fixed-top bg-white">
            <a class="navbar-brand" href="/">Home Manager</a>
        </nav>
    </div>

    <div>
        <div class="container-fluid dashboard-content">
            @Body
        </div>
    </div>
</div>
